 <table class="table">
   <thead>
     <tr>
       <th></th>
       <th>title</th>
       <th>opinion</th>
     </tr>
   </thead>
  <% books.each do |book| %>
   <tbody>
     <tr>
       <td>
        <%= attachment_image_tag book.user, :profile_image, :fill, 200, 200, format: 'jpeg' %>
       </td>
       <td><%= book.title %></td>
       <td><%= book.body %></td>
     </tr>
   </tbody>
  <% end %>
 </table>